.navbar {
	background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
	border: none;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0;
	@media(max-width: @screen-sm-max) {
		position: absolute;
	}

	img { 
		max-height: 50px;
	}


	.navbar-brand {
		padding-left: 60px;
		padding-top: 0;
	}

	.hashtag-container {
		@media(max-width: @screen-xs-max) {
			text-align: center;
		}
		.hashtag {
			color: white;
			font-family: @font-family-bold;
			font-weight: bold;
			line-height: 60px;
			padding-right: 65px;
			@media(max-width: @screen-xs-max) {
				padding-right: 0;
			}
		}		
	}

	.navbar-hash {
		color: white;
	}
}