body.user-create {
	header {

		h1 {
			@media(max-width: @screen-xs-max) {
				margin-top: 140px;
			}
		}

		position: relative;
		height: 100%;

		@media(max-width: @screen-xs-max) {
			min-height: 550px;
		}

		.main-container {
			background: url('/img/main-bg-1.jpg') center center no-repeat fixed;
			background-size: cover;
			background-color: black;
			@media(max-width: @screen-md-max) {
				background-size: contain;
			}
		}

		p {
			font-family: @font-family-base;
			color: @color-white;
			margin-top: 20px;

			@media(max-width: @screen-xs-max) {
				color: #fff;
			}

			&.share-text {
				font-family: @font-family-base;
				font-size: 12px;
				margin-top: 100px;
				color: #58595b;
			}

			&.subtitle {
				padding: 15px 0;
			}
		}

		form {
			margin-top: 20px;
			text-align: center;

			.form-group {
				max-width: 100%;
			}

			.form-control {
				display:inline;
			}

			span.error {
				display: block;
				margin-bottom: 5px;
			}

			input {
				border: 2px solid white;
				border-radius: 0;
				background: black;
				height: 44px;

				&[type="email"] {
					width: 400px;
					max-width: 100%;
				}

				@media(max-width: @screen-sm-max) {
					&[type="submit"] {
						margin-top: 10px;
						width: 240px;
						max-width: 100%;
					}
				}
			}

			.btn.btn-bluesmart {
				background: white;
				color: black;
				font-family: 'AvenirNext-Medium';
				text-transform: none;
				height: 44px;
				margin-left: -5px;
				font-weight: bold;
				padding-left: 30px;
				padding-right: 30px;
				&:after {
					content: "";
					position: absolute;
					height: 56%;
					width: rem(36px);
					bottom: rem(5px);
					margin-left: rem(20px);
					background: url('/public/img/arrow-black.png') no-repeat;
					background-size: contain;
				}
			}
		}

	}


	.terms-container {
		padding-top: 80px;
		padding-bottom: 40px;
		.terms {
			color: #616161;
			font-size: 12px;
			text-decoration: underline;
		}
	}

	footer {
		margin: 0;
	}
}
